.education__section {
  padding: var(--section-padding);
}

.education__heading {
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
}

.education__entry {
  display: flex;
  margin-bottom: 0.875rem;
}

.education__entry:last-child {
  margin-bottom: 0;
}

.education__data {
  width: 100%;
}

.education__basic-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin: 0 0 0.375rem 0;
}

.education__degree {
  font-weight: var(--font-bold);
  font-size: var(--h3-font-size);
  margin: 0 0 0.375rem 0;
}

.education__period {
  font-style: italic;
  font-size: 1rem;
  white-space: nowrap;
}

.education__score {
  font-style: italic;
  white-space: nowrap;
}

.education__school-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-weight: var(--font-normal);
  margin: 0 0 0.375rem 0;
}

/* Improve contrast for the dark left sidebar */
.resume__left .education__heading {
  color: #70818c;
}

.resume__left
  .education__section
  .education__entry
  .education__data
  .education__degree,
.resume__left .education__degree,
.resume__left .education__period,
.resume__left .education__score,
.resume__left .education__name {
  color: #AAB9BF;
}

/* Education - Left side */
.resume__left .education__basic-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.resume__left .education__period {
  text-align: left;
  width: 100%;
}
