/**
 * The @page at-rule is a CSS at-rule used to modify different aspects of printed pages. 
 * It targets and modifies the page's dimensions, orientation, and margins.
 * @see https://developer.mozilla.org/en-US/docs/Web/CSS/@page
 */
@page {
  size: A4;
  margin: 0;
}

/**
 * Resume Page Print Styles
 */
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;

    /* Make graphics B&W for printing */
    /* Modern, Stylish Color Palette */
    --resume-bg-color-alt: #1e3a8a; /* Deep Royal Blue */
    --text-color-light: #16a34a; /* Vibrant Emerald Green */
    --color-red: #dc2626; /* Bold Crimson Red */
    --color-blue: #3b82f6; /* Bright Azure Blue */
  }

  .main-page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}
