.languages__section {
  padding: var(--section-padding);
}

.languages__heading {
  text-transform: uppercase;
  margin-bottom: var(--mb-1);
}

.languages-wrapper ul ::marker {
  color: var(--color-red);
  font-size: 1.5rem;
}

.languages__list {
  padding-left: 0;
  list-style: none;
}

.languages__entry-detail {
  position: relative;
  top: -0.1rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.languages__entry-info {
  padding: 0 0.5rem;
  color: var(--color-red);
  font-style: italic;
  font-size: var(--small-font-size);
}

/* Improve contrast for language section on dark sidebar */
.resume__left .languages__heading {
  color: #70818c;
}

.resume__left .languages__list li,
.resume__left .languages__list li {
  color: #AAB9BF;
}

.resume__left .languages__entry-info {
  color: #AAB9BF;
}

/* Media query for mobile screens */
@media screen and (max-width: 767.99px) {
  #languages .languages__entry-detail {
    align-items: flex-start;
    gap: 2rem;
  }
  #languages .languages__entry-info {
    text-align: right;
  }
}
